@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?dnabjf');
	src:url('../fonts/icomoon.eot?#iefixdnabjf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?dnabjf') format('woff'),
		url('../fonts/icomoon.ttf?dnabjf') format('truetype'),
		url('../fonts/icomoon.svg?dnabjf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="timelineicon-"], [class*=" timelineicon-"] {
	font-family: 'icomoon';
	speak: none;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.timelineicon-facebook-square:before {
    content: "\f082";
}
.timelineicon-arrow-up:before {
	content: "\f062";
}
.timelineicon-comment:before {
	content: "\f075";
}
.timelineicon-twitter-square:before {
	content: "\f081";
}
.timelineicon-comments:before {
	content: "\f086";
}
.timelineicon-thumbs-o-up:before {
	content: "\f087";
}
.timelineicon-linkedin-square:before {
	content: "\f08c";
}
.timelineicon-arrow-circle-up:before {
	content: "\f0aa";
}
.timelineicon-google-plus-square:before {
	content: "\f0d4";
}
.timelineicon-level-up:before {
	content: "\f148";
}
.timelineicon-thumbs-up:before {
	content: "\f164";
}
.timelineicon-long-arrow-up:before {
	content: "\f176";
}
.timelineicon-googleplus:before {
	content: "\e604";
}
.timelineicon-twitter2:before {
	content: "\e605";
}
.timelineicon-linkedin:before {
	content: "\e600";
}
.timelineicon-sign-in:before {
	content: "\f090";
}
.timelineicon-sign-out:before {
	content: "\f08b";
}
.timelineicon-forward:before {
	content: "\e900";
	font-size: 12px;
}

.timeline, .timeline.v1 {
  margin: 20px auto;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0px;
  list-style-type: none!important;
  /*thanks to
     https://twitter.com/JacoKoster
  */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 50% 0;
  /*
    border-box ftw, inside .timeline now to prevent
    screwing up your CSS rule if you are not using
    border-box
    if that's the case, I have nothing to say to you.

    thanks to https://github.com/jimmyandrade
  */
  /*
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
  /*v2*/
}
.timeline-nobullets {
  background: none;
  background: transparent;
}

/* line 30, ../scss/timeline.scss */
.timeline *, .timeline *:after, .timeline:after, .timeline *:before, .timeline:before, .timeline.v1 *, .timeline.v1 *:after, .timeline.v1:after, .timeline.v1 *:before, .timeline.v1:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 32, ../scss/timeline.scss */
.timeline .year, .timeline.v1 .year {
  background: #505050;
  font-size: 2em;
  max-width: 4em;
  clear: both;
  margin: 1em auto;
  color: white;
  border-radius: 30% / 100%;
  text-align: center;
  margin-top: 50px;
  padding: 4px;
  /*
    thanks to Lukas Knuth ( https://github.com/christian-fei/Timeline.css/issues/1 )
  */
}
/* line 43, ../scss/timeline.scss */
.timeline .year:first-of-type, .timeline.v1 .year:first-of-type {
  margin-top: 0 !important;
}
.timeline .notitle:first-of-type, .timeline.v1 .notitle:first-of-type {
  margin-top: -20px !important;
}

/* line 50, ../scss/timeline.scss */
.timeline .year + .timeline-event, .timeline.v1 .year + .timeline-event {
  margin-top: -1.5em;
}
/* line 60, ../scss/timeline.scss */
.timeline .timeline-event, .timeline.v1 .timeline-event {
  position: relative;
  float: right;
  clear: right;
  width: 45%;
  margin: 10px 2.5%;
  border-radius: 5px;
  list-style-type: none;
  display: block;
  padding: .4em;
  background: white;
  color: #4d4d4d;
  border: 1px solid #d0d0d0;
  text-decoration: none;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
.timeline .timeline-avatar {
	float:left;
	margin: 0 10px 10px 0;
  /*rounded border*/
  -moz-border-radius:       5px;
  -webkit-border-radius:    5px;
  border-radius:            5px;
}
.timeline .timeline-post {
    padding: 10px;
    width: 100%;
}
.timeline .timeline-post h3 {
    font-size: 12px;
	margin:0 0 10px;
	padding:0;
}
.timeline .timeline-content {
	margin-bottom: 10px;
	white-space:pre-line;
	word-wrap: break-word;
}
.timeline .timeline-divider {
 clear:both;
}
.timeline .timeline-image img {
    background: none repeat scroll 0 0 white;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: auto;
    padding: 5px;
}
.timeline .timeline-image img.width100 {
    width: 100%;
}
.timeline .timeline-link {
    background: none repeat scroll 0 0 #f6f7f9;
    border-radius: 5px;
    color: #808080;
    font-size: 11px;
    margin: 10px 0 10px;
    padding: 10px;
	word-wrap: break-word;
}
.timeline .timeline-link h5 {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.timeline .timeline-caption {
    margin: 0 0 6px;
}
.timeline .timeline-description {
	line-height: 16px;
}
.timeline .timeline-comments {
    font-size: 11px;
    padding: 5px 10px;
	display: none;
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.timeline .timeline-comments .subcomments {
	margin-left: 2px;
}
.timeline .timeline-comments .thumbsup {
    font-size: 11px;
}
.timeline .timeline-inline {
	display:block;
}
.timeline .timeline-share {
	margin-top: 10px;
}
.timeline .timeline-share a {
    text-decoration: none;
	outline: 0;
}
.timeline .timeline-likes {
	float:right;
}
.timeline .timeline-share .sharebutton {
    margin:4px;
}
.timeline .timeline-count {
    font-size: 11px;
}
.timeline .timeline-morelessicon {
	font-size: 13px;
}
.timeline .more-link, .timeline .more-link:hover, .timeline .less-link, .timeline .less-link:hover   {
    text-decoration: none;
	outline: 0;
}

.timeline .timeline-video iframe, .timeline-video video {
    background: none repeat scroll 0 0 white;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    width: 100%;
}
.timeline .timeline-video {
  position: relative;
  padding-bottom: 51.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.timeline .timeline-video iframe,
.timeline .timeline-video video,
.timeline .timeline-video object,
.timeline .timeline-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.timeline .timeline-break {
  height: 6px;
  display: block;
}
[dir="rtl"] {
  text-align: right;
}

/* line 86, ../scss/timeline.scss */
.timeline .timeline-event.featured, .timeline.v1 .timeline-event.featured {
  width: 95% !important;
}
/* line 88, ../scss/timeline.scss */
.timeline .timeline-event.featured:after, .timeline .timeline-event.featured:before, .timeline.v1 .timeline-event.featured:after, .timeline.v1 .timeline-event.featured:before {
  display: none;
}
@media all and (max-width: 600px) {
  /* line 60, ../scss/timeline.scss */
  .timeline .timeline-event, .timeline.v1 .timeline-event {
    width: 85%;
  }
  .timeline .timeline-nobullets:nth-of-type(2n), .timeline.v1 .timeline-nobullets:nth-of-type(2n) {
    float: right;
    clear: left;
  }
  .timeline .timeline-nobullets, .timeline.v1 .timeline-nobullets {
    width: 95%;
  }
}
/* line 97, ../scss/timeline.scss */
.timeline .timeline-event.offset-first, .timeline.v1 .timeline-event.offset-first {
  margin-top: -1.5em;
}
/* line 101, ../scss/timeline.scss */
.timeline .timeline-event img, .timeline.v1 .timeline-event img {
  max-width: 100%;
}
/* line 106, ../scss/timeline.scss */
.timeline .timeline-event:hover, .timeline.v1 .timeline-event:hover {
  background: #f6f6f6;
}
/* line 109, ../scss/timeline.scss */
.timeline .timeline-event:hover:after, .timeline.v1 .timeline-event:hover:after {
  background: #505050;
}
/* line 114, ../scss/timeline.scss */
.timeline .timeline-event:nth-of-type(2n), .timeline.v1 .timeline-event:nth-of-type(2n) {
  float: left;
  clear: left;
}
/* line 117, ../scss/timeline.scss */
.timeline .timeline-event:nth-of-type(2n):after, .timeline.v1 .timeline-event:nth-of-type(2n):after {
  right: -5%;
  /* reset the standard declaration I defined before*/
  left: auto;
}
@media all and (min-width: 650px) {
  /* line 124, ../scss/timeline.scss */
  .timeline .timeline-event:after, .timeline.v1 .timeline-event:after {
    display: block;
    content: ' ';
    height: 9px;
    width: 9px;
    background: #9d9d9d;
    border-radius: 50%;
    position: absolute;
    left: -5%;
    top: 1.5em;
    border: 2px solid white;
  }
  .timeline .timeline-nobullets:after, .timeline.v1 .timeline-nobullets:after {
    display: none;
  }
}
/* line 139, ../scss/timeline.scss */
.timeline time, .timeline.v1 time {
  display: block;
  font-weight: bold;
}
/* line 148, ../scss/timeline.scss */
.timeline.v2 .year, .timeline.v1.v2 .year {
  background: white;
  color: #505050;
  border: 2px solid #505050;
}
/* line 154, ../scss/timeline.scss */
.timeline.v2 .timeline-event, .timeline.v1.v2 .timeline-event {
  border: none;
  background: #FAFAFA;
  border-bottom: 1px solid #cac4c4;
}
